
.title{
    width: 100%;
}
.title  h1{
    font-size: 1rem;
   text-align: center;
}

.editor {
    border: 1px solid #c0c0c0;
    height: 50vh;
    padding: .3rem;
    background-color: #fff;
    appearance: none;
        background-color: #FAFBFC;
        border: 1px solid rgba(27, 31, 35, 0.15);
        border-radius: 6px;
        box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
        box-sizing: border-box;
        color: #24292E;
        font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        list-style: none;
        padding: 6px 10px;
        position: relative;
        transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        vertical-align: middle;
        white-space: nowrap;
        word-wrap: break-word;
}

.editor input {
    padding: .5rem;
}

.editor h1{
    font-size: 1.2rem;
}

.headContainer{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-bottom: .5rem;
}

.instructions h2{
margin-bottom: 0;
font-size: 1rem;
}
.instructions ul{
    padding: 0;
    margin-left: 1.2rem;
    margin-top: .5rem;
}

.instructions ul strong {
    min-width: 2rem;
    display: inline-block;
    
}

.instructions ul li{
  
    margin-bottom: .5rem;
}